<form [formGroup]="restau" class="main">
  <mat-card>
    <mat-card-title>Ajouter un restaurent</mat-card-title>

    <mat-card-content class="grid-element">
      <mat-form-field>
        <input type="text" matInput placeholder="Nom"  formControlName="nom" >
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput placeholder="No"  formControlName="no">
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput placeholder="Nom rue"  formControlName="rue">
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput placeholder="Ville"  formControlName="ville">
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput placeholder="Code postale"  formControlName="codePostale">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions class="right-element">
      <button mat-button (click)='add()'>add</button>
    </mat-card-actions>
  </mat-card>
</form>