<div class="date">
    {{date | date}}
</div>
<main>
    <div class="cards">
        <div *ngFor="let rest of restaus">
            <mat-card class="card">
                <div class="content">
                    <mat-card-title>{{rest.nom}}</mat-card-title>
                    <mat-card-content>
                        {{afficheAdresse(rest.adresse)}}
                    </mat-card-content>
                </div>
                <mat-checkbox (change)="checked($event,rest)"></mat-checkbox>
            </mat-card>
        </div>
    </div>
</main>

<!--<div class="button-validation">
    <button mat-raised-button (click)="validate()">Validate Vote</button>
</div>-->